.footer__link-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

@media screen and (max-width: 565px) {
  .footer__link-list {
    gap: 32px;
    flex-direction: column;
  }
}
