.feynman {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../images/feinman.png) no-repeat;
    background-color: #f2f2f2;
    background-position: left bottom;
    min-height: 890px;
    padding-top: 100px;
}