.lead_place_content {
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .lead_place_content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead_place_content {
    margin-bottom: 64px;
  }
}
