.cover__title {
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 32px;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 785px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin-bottom: 16px;
  }
}
