.footer {
  max-width: 1184px;
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 565px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    margin: 64px auto 24px;
  }
}
