.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 928px;
  }
}


@media screen and (max-width: 800px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    margin: 64px auto 24px;
  }
}
